<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Styles -->
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="styleshead.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Oleo+Script:wght@400;700&family=Radio+Canada&display=swap" rel="stylesheet">
  <!-- bootstrap Carousel -->
  <title>Blood Donation</title>
</head>

<body>

  <div class="cont container">
    <h1 class="don">Save a life !!<span>donate blood</span> <br> <a href="/donor">donate here </a></h1>


    <div class="donationimages">

      <img src="images/img2.jpg" width="460" height="345">
      <img src="images/img1.jpg" width="600" height="345">
      <img src="images/img3.jpg" width="460" height="345">
    </div>


    <h1 class="rec">Need blood ?? <span>We're here to help </span> <br> <a href="/recepient">register here</a></h1>
  </div>


  <canvas id="c" width="1920" height="1080"></canvas>

  <script src="main.js" charset="utf-8"></script>
</body>

</html>