<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Styles -->
  <link rel="stylesheet" href="styles.css">

  <link rel="stylesheet" href="stylesdonor.css">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
  <title>Recepient</title>
</head>

<body>

    <h3 class="recsignup">Sign up to receive blood </h3>
  <div class="container recepient">
     
    <form action="/recepient" method="post">
      <h2 class="recepient_title">Recepient Registration</h2>
      <label for="f_name">
          FirstName <input type="text" name="f_name" value="" required>
      </label>
      <label for="l_name">
          LastName <input type="text" name="l_name" value="" required>
      </label>
      <label for="bloodtype">
          BloodType <input type="text" name="blood_type" value="A+">
      </label>
      <label for="address">
          Address <input type="text" name="address" value="1572-30100">
      </label>
  
      <label for="email">
          Email <input type="email" name="email" value="1@gmail.com" required>
      </label>
  
      <label for="phone">
          Phone Number <input type="text" name="phone" value="073445678">
      </label>
  
      <label for="age">
          Age <input type="number" name="age" value="">
      </label>
  
      <button type="submit" class="donatebtn">Sign Up</button>
  
  </form>
  </div>

  



</body>

</html>